New leave request from {{requester.full_name}}
=====
<p>Hello,</p>

<p>This is an informational notification. {{requester.full_name}} has submitted a new leave request for <strong>{{leave.get_leave_type_name}}</strong>:</p>

<ul>
  <li>From: <strong>{{leave.date_start}}</strong></li>
  <li>To: <strong>{{leave.date_end}}</strong></li>
</ul>

<p>As a watcher for this request, you will be notified of the final outcome.</p>

<p>Thanks</p>
