Leave request from {{requester.full_name}} was {{action}}ed
=====
<p>Hello,</p>

<p>This is an informational notification. The leave request from {{requester.full_name}} for
    <strong>{{leave.get_leave_type_name}}</strong> ({{leave.date_start}} to {{leave.date_end}}) was
    <strong>{{action}}ed</strong>.</p>

<p>Thanks</p>